html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
::selection{
    background: #EBCB80;
}
@font-face {
    font-family: Lucida Grande;
    src: url(../font/lucida.ttf);
}

/*navigaiton*/
.navbar{
    margin-bottom: 0;
    background-color: #4b4b4b;
    min-height: 156px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-header {
    float: left;
    margin-top:  55px;
}
.navbar-header > a {
    font-size:  36px;
    color: #EBCB80;
    text-align: center;
    letter-spacing: 0.0554719em;
    text-transform:  uppercase;
}
.navbar-right{
    float: right;
    margin-top: 67px;
}

.navbar-right > li{
    float: left;
}
.navbar-right > li > a {
    color:  #fff;
    padding: 22px;
    font-size: 18px;
}
.navbar-right > li > a:hover,
.navbar-right > li > a:focus,
.navbar-right > li > a > active {
    transition: 0.5s all;
    color: rgba(235, 203, 128, 0.8);
}
.nav>li {
    position: relative;
    display: block;
    text-transform: uppercase;
}
li.button > a {
    border: 2px solid #fff;
    padding: 15px 25px 14px 26px;
    border-radius:  50px;
}
li.button > a:hover,
li.button > a > active{
    background: #fff;
    color: #4b4b4b;
    transition: 0.5s all;
}
/* banner */
.banner{
    position: relative;
    background: url(../imgs/background1.png) no-repeat;
    height: 768px;
    z-index: 9;
    background-size: cover;
    
}
.banner::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(235, 203, 128, 0.8);
}

/* banner */
.content-info{
    text-align: center;
    padding-top: 14.75em;
}
.content-info > h1 {
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #4B4B4B ;
    font-family: 'Roboto', sans-serif;
}
.content-info >p {
    margin-top: 1.3125em;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #4B4B4B;
}

.search-box {
    margin-top:  36px;
    padding-right: 46px;
}

.search-box > input[type="text"] {
    padding: 11px 162px 10px 18px;
    width:  270px;
    border: 1px solid #4B4B4B;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 27px;
    font-size: 16px;
    color: #4B4B4B;
    mix-blend-mode: normal;
    height:  43px;
    -webkit-background-clip: text;
}

.search-box > input[type="submit"] {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.0625em;
    color: #4B4B4B;
    padding:  15px 37px 14px 38px;
    border: 2px solid #4B4B4B;
    box-sizing: border-box;
    border-radius: 50px;
    background: none;
    margin-left:  18px;
    cursor:  pointer;
    text-transform:  uppercase;
}
.search-box > input[type="submit"]:hover{
    transition:  0.5s all;
    background: #4b4b4b;
    color:  #fff;
}
.font-icon {
    margin-top: 59px;
    padding-right: 51px;
}

.font-icon > img {
    margin: 0 30px;
}

/* our team */
.our-team{
    height: 36.875em;
}
.team-header{
    margin-top: 54px;
}
.team-header h3{
    line-height: 48px;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #4B4B4B;
    font-style: normal;
    font-weight: normal;
}
.team-grid1{
    padding: 3.5625em 0;
    float: left;
}
.col-team{
    width: 33.33%;
    font-style: normal;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.col-team img{
    float: left;
}
.content {
    padding-left: 107px;
    padding-right: 50px;
}
.col-team h3{
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 18px;
    color: #4B4B4B;
}
.col-team h5{
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    color: #4B4B4B;
}
.col-team p{
    line-height: 24px;
    font-size: 16px;
    color: #4B4B4B;
    padding-top: 15px;
}



/* choice a plan */
.plan, .advantages{
    background-color: #4B4B4B;
    height: 42.5em;
}
.plan h2{
    line-height: 48px;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #FFFFFF;
    padding-top: 68px;
    font-weight: normal;
}
.plan .col-plan{
    float: left;
    width: 29%;
    margin: 0 1.7em;
    padding: 2.5em 0px 2.7em;
    text-align: center;
    margin-top: 52px;
    background: #4B4B4B;
}
.plan .silver{
    position: relative;
    background-blend-mode: soft-light;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background:  #4B4B4B;
}
.plan .silver:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    background-blend-mode: soft-light;
    border-radius: 8px;
    background: linear-gradient(221.37deg, rgba(255, 255, 255, 0.7) 1.05%, rgba(255, 255, 255, 7e-05) 86.93%);
}
.content-plan{
    position: relative;
}
.plan .gold{
    position: relative;
    background-blend-mode: soft-light;
    border-radius: 8px;
    background: #EBCB80;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}
.plan .gold:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    background-blend-mode: soft-light;
    border-radius: 8px;
    background: linear-gradient(222.27deg, rgba(255, 255, 255, 0.496575) -4.75%, rgba(255, 255, 255, 0.0001) 95.25%);
}
.plan .platinum{
    position: relative;
    background-blend-mode: multiply;
    border-radius: 8px;
    background: #4B4B4B;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}
.plan .platinum:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    background-blend-mode: soft-light;
    border-radius: 8px;
    background: linear-gradient(220.77deg, rgba(0, 0, 0, 0.0001) 0.34%, rgba(0, 0, 0, 0.401127) 92.22%);
}

.content-plan > h5 {
    font-weight: normal;
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.0555556em;
    color: #FFFFFF;
    margin-top:  15px;
    margin-bottom: 23px;
}
.content-plan > p {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.content-plan > button{
    background: #EBCB80;
    border-radius: 50px;
    padding: 15px 41px 14px 42px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.0625em;
}
.content-plan> .dola{
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
}
.content-plan > .money{
    font-weight: normal;
    line-height: 48px;
    font-size: 64px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #FFFFFF;
    vertical-align: text-top;
}
.gold >.content-plan > h3, .gold >.content-plan> p , .gold >.content-plan> .dola, .gold >.content-plan> .money, .gold >.content-plan> h5{
    color: #4b4b4b;
}
.gold > .content-plan >button{
    background: #4B4B4B;
    color: #fff;
}
/* transition plan */
.col-plan.silver, .col-plan.gold, .col-plan.platinum {
    transition: 0.5s all;
}

.col-plan.silver:hover, .col-plan.gold:hover, .col-plan.platinum:hover {
    transform: scale(1.06);
}

.silver .content-plan > button:hover, .platinum .content-plan > button:hover  {
    transition:  0.5s all;
    background:  none;
    border:  1px solid #fff;
    color: #EBCB80;
}
.gold .content-plan > button:hover{
    transition: 0.5s all;
    background: none;
    border: 1px solid #4b4b4b;
}

/* slideshow */
.carousel{
    position: relative;
    height: 37.5em;
}
.carousel-indicators{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    bottom: 16%;
}
.carousel-indicators .active{
    background: #4B4B4B;
    border: 2px solid #4B4B4B;
    box-sizing: border-box;
    border-radius: 7.5px;    
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px; 
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #4b4b4b;
    border-radius: 7.5px;
  }
  .carousel-control {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 30%;
    text-align: center;
  }
  .carousel-control.right {
    right: 0;
    left: auto;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 6.25em 19.6em;
  }
  .carousel-caption > img {
    border-radius:  100px;
    border: 3px solid #EBCB80;
}
.carousel-caption > h4 {
    font-weight: normal;
    line-height: 27px;
    font-size: 18px;
    color: #4B4B4B;
    margin-top:  32px;
}
.carousel-caption > p {
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-top:  23px;
    padding: 0 35px;
}
/* Advantages */
.advantages h2{
    font-weight: normal;
    line-height: 48px;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #FFFFFF;
    padding-top: 44px;
}
.advantages .text {
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color:  #fff;
    margin-top:  20px;
}
.col-advantages {
    float: left;
    width: 29%;
    height: 390px;
    margin: 0 1.7em;
    padding: 2.5em 0px 2.7em;
    text-align: center;
    margin-top: 52px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    background:  #4b4b4b;
    border-radius: 8px;
    position:  relative;
    transition: 0.5s all;
}
.col-advantages:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    background-blend-mode: soft-light;
    border-radius: 8px;
    background: linear-gradient(220.77deg, rgba(0, 0, 0, 0.0001) 0.34%, rgba(0, 0, 0, 0.401127) 92.22%);
}
.content-advantages {
    position:  relative;
}
.content-advantages > h3 {
    margin-bottom: 25px;
    font-family: 'Lucida Grande', sans-serif;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.0555556em;
    text-transform: uppercase;
    color: #EBCB80;
}
.content-advantages > h5 {
    margin-top: 33px;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.0625em;
    color:  #fff;
}
.content-advantages > h5 {
    margin-top: 33px;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.0625em;
    color:  #fff;
}



.content-advantages > p {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    margin-top:  4px;
    color: #FFFFFF;
    padding: 0 67px;
}

.content-advantages > button {
    background: #EBCB80;
    border-radius: 50px;
    border: none;
    padding:  15px 41px 14px 42px;
    margin-top:  28px;
    cursor: pointer;
}
.col-advantages:hover{
    transform: scale(1.06);
}
.content-advantages > button:hover{
    transition: 0.5s all;
    background: none;
    border: 1px solid #EBCB80;
    color: #fff;
}
/* Places */
.place{
    height:  55.5em;
    background-color: #f3f3f3;
}
.row-place {
    display:  flex;
    flex-wrap:  wrap;
    justify-content: center;
}
.col-place {
    flex-basis: 25.2%;
    padding-bottom: 12px;
}

.header-place > h2 {
    padding-top:  67px;
    font-weight: normal;
    line-height: 48px;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #4B4B4B;
}


.title-place {
    padding: 0 187px;
    text-align:  center;
    padding-bottom: 30px;
}

.title-place > span {
    padding: 0px 0px;
    vertical-align:  text-top;
    padding: 0 30px;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.0555556em;
    color: #000000;
}
/* create a account */
.main-account{
    position: relative;
    height: 588px;
    background-size: cover;
    background: url(../imgs/b.png) no-repeat;
}
.main-account:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    background: linear-gradient(0deg, rgba(75, 75, 75, 0.3), rgba(75, 75, 75, 0.3)), url(Image.png);
    background-blend-mode: multiply, normal;
}
.container > h1 {
    font-weight: normal;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #FFFFFF;
    padding-top: 72px;
    margin-bottom:  36px;
    position: relative;
}
.create-form {
    display:  flex;
    justify-content:  center;
    text-align:  center;
    position: relative;
}
.form-content > h3 {
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.0555556em;
    color: #EBCB80;
    font-family: 'Lucida Grande', sans-serif;
    text-transform:  uppercase;
    margin-top:  28px;
    margin-bottom: 29px;
}


.form-style > input[type="text"] {
    padding: 8px 69.94px 10px 15.06px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 0px 25px;
    /* width: 256px; */
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
}
.form-groups {
    padding: 4px 52px;
    background:  #4b4b4b;
    border-radius: 8px;
}
.form-groups:before {
    position:  absolute;
    content:  '';
    background: linear-gradient(222.24deg, rgba(255, 255, 255, 0.7) 2.36%, rgba(255, 255, 255, 7e-05) 88.2%);
    background-blend-mode: soft-light;
    border-radius: 8px;
    top: 0;
    bottom:  0;
    left: 28em;
    right: 28em;
    opacity: 0.5;
}
.form-content {
    position:  relative;
}
.form-content > a {
    position: relative;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #EBCB80;
    margin-top: 61px;
}

.form-content > input[type="submit"] {
    background: #EBCB80;
    border-radius: 50px;
    border:  none;
    padding: 15px 41px 14px 42px;
    margin-bottom: 24px;
    margin-top:  19px;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.0625em;
    color: #4B4B4B;
    width:  198px;
    cursor: pointer;
}
.form-content > input[type="submit"]:hover{
    background: none;
    border: 1px solid #fff;
    transition: 0.5s all;
    color: #EBCB80;
}
/* contact us */
.contact-us{
    height: 700px;
    background: #FFFFFF;
}
.row-contact {
    display:  flex;
}

.col-contact {
    flex-basis:  33.33%;
}
.title-contact > h1 {
    margin-top:  92px;
    margin-bottom:  65px;
    font-weight: normal;
    line-height: 48px;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #4B4B4B;
}
.content-contact {
    display: flex;
    margin-bottom:  23px;
}
.content-contact > p, .phone > p {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #4B4B4B;
}
.left-contact {
    padding: 0 77px;
}

.left-contact > h3 {
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.0555556em;
    color: #4B4B4B;
    margin-bottom:  22px;
}

.content-contact > i {
    margin-right:  13px;
}
.float-txt {display:  flex; margin-bottom: 16px;}
.field-txt > label {
    display:  flex;
    flex-direction: column;
    margin-bottom: 17px;
}


.field-txt {
    margin-right: 12px;
}
.field-txt > input[type="text"] {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px  10px 11px;
    height:  36px;
    width: 204px;
}
.field-txt > textarea {
    width:  100%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
}
.center-contact {
    background: #FFFFFF;
    border: 2.13333px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}
.center-contact form {
    margin: 31px 50px;
}
.center-contact button {
    background: #EBCB80;
    border-radius: 50px;
    padding: 15px 47px 14px 48px;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.0625em;
    color: #3C3C3C;
    width:  210px;
    margin-top:  24px;
    border: none;
    cursor: pointer;
    margin-left: 110px;
    transition: 0.5s all;
}
.center-contact button:hover{
    transition: 0.5s all;
    background: #4B4B4B;
    color: #EBCB80;
}

.right-contact {
    margin-left:  39px;
    padding-right: 65px;
}
.right-contact > h3 {
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.0555556em;
    color: #4B4B4B;
    margin-bottom:  16px;
}
.right-contact > p {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #4B4B4B;
    margin-bottom:  50px;
}
.right-contact > h5 {
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.0555556em;
    color: #4B4B4B;
    margin-bottom: 30px;
}
.col-icon {
    margin-bottom:  25px;
}
.col-icon a {
    color:  #4b4b4b;
}

.col-icon a i:hover {
    transition:  0.5s all;
    color: gray;
}
.col-icon i {
    margin-right:  35px;
    font-size: 24px;
}
/* map */
.map{
    height: 400px;
    width: 100%;
    background: #D8D8D8;
}
.box iframe{
    width: 100%;
    height: 400px;
}
/* footer */
.footer{
    height: 310px;
    background: #4B4B4B;
}
.row-footer {
    display:  flex;
}

.col-footer {
    flex-basis: 33.33%;
    padding-right: 50px;
    padding-left: 50px;
}

.col-footer h3 {
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.0555556em;
    color:  #fff;
    margin-top:  50px;
    margin-bottom:  24px;
}
hr {
    width: 92%;
}
.col-footer p {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.col-footer > a {
    font-size:  24px;
    color: #FFFFFF;
    margin-right:  43px;
}
.col-footer > a:hover{
    color: gray;
    transition: 0.5s all;
}
.copyrights {
    flex-basis:  28%;
}
.copyrights p {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-left:  50px;
}
.footer-main {
    display:  flex;
    margin-top: 30px;
}



.nav-footer {
    flex-basis: 65%;
}

.nav-footer li{
    float:  left;
}
.nav-footer a {
    color:  #fff;
    margin-right: 42px;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0.0555556em;
}



